html,
body {
  margin: 0px;
  height: 100%;
  padding: 8px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(https://github.com/plotly/dash-docs/raw/master/images/dash-pattern.png);
}
.full-height {
  height: 100%;
}
#mapDiv {
  /* height: 600px;
  width: 600px; */
  height: 100%;
  width: 100%;
}
#bar-chart {
  width: 100%;
}
.main {
  display: flex;
  flex-wrap: wrap;
}
#bar-chart2 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.charts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
  margin: 8px;
}
#layer-selector {
  max-width: 200px;
  flex-grow: 1;
}
#year_slider {
  max-width: 200px;
  flex-grow: 1;
}
.dropdown-div {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.selectors-container {
  display: flex;
  flex-direction: column;
}
.base-container {
  display: flex;
}
#mapbox-map {
  display: flex;
  flex-grow: 1;
}
.down-label {
  width: 100px;
}
