html,
body {
  margin: 0px;
  height: 100%;
  padding: 8px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(https://github.com/plotly/dash-docs/raw/master/images/dash-pattern.png);
}
.full-height {
  height: 100%;
}
#mapDiv {
  /* height: 600px;
  width: 600px; */
  height: 100%;
  width: 45%;
}
#bar-chart {
  height: 100%;
  width: 45%;
}
.text-center {
  text-align: center;
}
#year_slider {
  margin: 25px;
  width: 80%;
}
.charts-container {
  display: flex;
  justify-content: space-between;
}
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#layer-selector {
  width: 200px;
  margin-left: 125px;
}
